{% extends 'main/login_home.html' %}

{% block login %}
      <h1>El sistema</h1>
      {% if form.errors %}
        <p> Te equivocaste jeje</p>
      {% endif %}
      <form role="form" method="post" action="{% url 'solicitud_signup' %}">
        {% csrf_token %}
        <p> Usuario </p>
        <input type="text" name="username">
        <p>Nombre</p>
          <input type="text" name="nombre">
        <p>apellido</p>
          <input type="text" name="apellido">
        <p>Fecha de nacimiento</p>
          <input type="date" name="nacimiento">
          <p>Sexo</p>
          <select name="sexo">
            <option value="0">Hombre</option>
              <option value="1">Mujer</option>
          </select>
          <p>Escuela</p>
          <input type="text" name="escuela">
        <p>Contrasena</p>
        <input type="password" name="password">
        <p>Correo</p>
          <input type="email" name="correo">
          
        <input type="submit" value="login"/>
      </form>
{% endblock login %}

